name: jalali_flutter_datepicker
description: "custom date picker A persian (farsi,shamsi) datetime
 picker for flutter, inspired by material datetime picker and persian date time picker."
version: 1.0.0
homepage: https://github.com/iManYarahmadi/jalali_flutter_datepicker

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
